.back-link {
  display:inline-block;
  position:relative;
  top:-.75rem;
  font-size:var(--fontSize-highlight);
  cursor:pointer;

  svg {
    width:.8rem;
    margin-right:.5rem;
    margin-bottom:-0.35rem;
  }

  @media print { display:none; }
}
