.dropdownizer { 
  position:relative; 

  &__trigger { 
    position:relative;
    z-index:1;
    padding-bottom:.25rem;
    cursor:pointer; 

    &:after {
      display:inline-block;
      margin-left:.4rem;
      transform: scale(1, .5);
    } 
  }

  &__window {
    position:absolute;
    z-index:2;
    right:0;
    width:220px;
    background: var(--dropdownizerWindow-bgColor);
    box-shadow:0 10px 10px var(--dropdownizerWindow-shadowColor);
    transition:top .1s linear;
  }

  &[data-is-active="false"] &__trigger:after {
    content: "▼";
  }

  &[data-is-active="false"] &__window {
    display:none; 
  }

  &[data-is-active="true"] > &__trigger:after {
    content: "▲";
  }

  /* optional dropdown theme */
  .dropdown-item {
    padding:.5rem 1rem;
    cursor:pointer;
    color:var(--dropdownItem-textColor);

    &:not(:last-of-type) {
      border-bottom:1px solid var(--dropdownItem-borderColor);
    }

    &[data-is-active="true"] {
      background:var(--dropdownItem-active-bgColor);
      color:var(--dropdownItem-active-textColor);
      font-weight:var(--dropdownItem-active-fontWeight);
    }

    &:not([data-is-active="true"]):hover {
      background:var(--dropdownItem-hover-bgColor);
      color:var(--dropdownItem-hover-textColor);
      font-weight:var(--dropdownItem-hover-fontWeight);
    }
  }
}
