.ellipticizer {
  display:inline-block;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}

.loading-icon {
  transform:translate3d(1rem, .7rem, 0);
  display:inline-block;
  width:2rem !important;
  height:2rem !important;
  transform-origin:center center;
  text-align:center;

  .svg-inline--fa {
    display:block;
    width:2rem !important;
    height:2rem !important;
    /* animation:spin .75s linear infinite; */
  }  
}

/* @keyframes spin { 
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg) }
} */

.back-link {
  display:inline-block;
  position:relative;
  top:-.75rem;
  font-size:var(--fontSize-highlight);
  cursor:pointer;

  svg {
    width:.8rem;
    margin-right:.5rem;
    margin-bottom:-0.35rem;
  }

  @media print { display:none; }
}
