a,
.link,
.panel--default a,
.panel--default .link {
  text-decoration:none; 
  color: var(--textcolor-link);
  cursor:pointer;
}

a:hover,
.link:hover,
.panel--default a:hover,
.panel--default .link:hover {
  text-decoration:underline;
  color: var(--textcolor-link-hover);
}

.panel--inverted {
  color:var(--textcolor-inverted);
}

.panel--inverted a,
.panel--inverted .link {
  color:var(--textcolor-link-inverted); 
  text-decoration:underline;       
}

.panel--inverted a:hover,
.panel--inverted .link:hover {
  color:var(--textcolor-link-inverted-hover);
}
