:root {
  /* -- COLORS -------------- */
  --textcolor-light: #666;
  --textcolor-base: #333;
  --textcolor-dark: #222;
  --textcolor-inverted: #fff;

  /* -- TYPOGRAPHY -------------- */
  --fontSize-small: .8rem;
  --fontSize-bump: 1.1rem;
  --fontSize-highlight: 1.25rem;
  --fontSize-title-small: 1.5rem;
  --fontSize-title-medium: 1.75rem;
  --fontSize-title-big: 2rem;
  --fontSize-title-huge: 2.4rem;

  /* TRANSITIONS -------------- */
  --transitionSwoop-easing: cubic-bezier(0.19, 1, 0.22, 1);
}
